{% extends "base_exer.html" %}

{% block title %}Math Compute{% endblock %}

{% block head %}This website computes for the sum, difference, product, and quotient of 2-3 numbers{% endblock %}

{% block content %}
<p>Inputs are: {{ number1 }}, {{ number2 }}, {{ number3 }}</p>
<p>
	Sum is: {{ numsum }} <br>
	Difference is: {{ numdiff }} <br>
	Product is: {{ numprod }} <br>
	Quotient is: {{ numquo }}
</p>
{% endblock %}