<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>
	<!--
	<form action="/books/search/" method="get">
		<input type="text" name="q">
		<input type="submit" value="Search">
	</form>
	-->
	<!--
	{% if error %}
	<p style="color: red;">Please submit a search term.</p>
	{% endif %}
	-->
	{% if errors %}
	<ul>
		{% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<form action="" method="get">
		<input type="text" name="q">
		<input type="submit" value="Search">
	</form>
</body>
</html>